<h1>いいねしたサプライズ一覧</h1>
<% current_user.favorites.each do |surprise| %>
  <% unless surprise.order.nil? %>
    <p>sold out</p>
  <% end %>

  <%= attachment_image_tag surprise, :main_image, :fill, 100, 100, fallback: "no_image.jpg", size: "100x100" %>
  <%= link_to surprise.name, surprise_path(surprise) %>
  <%= link_to "いいね解除", surprise_favorites_path(surprise), method: :delete %>
<% end %>